//reset file/code
 body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; } 
//import below for bootstrap here if needed

//import below for css-libraries

//import below for fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Tangerine');


/*Start of Home View*/

@media only screen and (min-width:1500px){
    .hbg-img{
        height:60em;
        width:100%; 
    }
    .banner-btn{
        margin-top:15em;
        margin-left:45%;
    
    }
    .exstral{
        margin-top:25rem;
    }
}

@media only screen and (max-width:1500px){
    .hbg-img{
        height:60em;
        width:100%; 
    }
    .banner-btn{
        margin-top:35em;
        margin-left:40%;
    
    }

}


@media only screen and (max-width:1025px){
    .hbg-img{
        height:60em;
        width:100%; 
    }
    .banner-btn{
        margin-top:40em;
        margin-left:40%;
    
    }
}

@media only screen and (max-width:801px){
    .hbg-img{
        height:70em;
        width:100%; 
    }
    .banner-btn{
        margin-top:50em;
        margin-left:35%;
    
    }
}

@media only screen and (max-width:601px){
    .hbg-img{
        height:40em;
        width:100%; 
    }
    .banner-btn{
        margin-top:20em;
        margin-left:25%;
    
    }
}

@media only screen and (max-width:480px){
    .hbg-img{
        height:50em;
        width:100%; 
    }
    .banner-btn{
        margin-top:40em;
        margin-left:30%;
    
    }
}

@media only screen and (max-width:320px){
    .hbg-img{
        height:40em;
        width:100%; 
    }
    .banner-btn{
        margin-top:30em;
        margin-left:30%;
    
    }
}

.hbg-img{
    background-image: url('https://unsplash.it/1800/800?image=893');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position:relative;
    z-index:1;
    overflow: auto;
    filter: brightness(90%);
}

          /*Home View hamburger button*/
.hamburger1
 {
    background: inherit;
    width: 80px;
    padding: 12px;
    float: left;
    margin: 0px 30px;
    cursor: pointer;
    border:none;
    position:absolute;
}

.hamburger1 div {
    height: 5px;
    background: #fff;
    width: 45px;
    margin: 5px 0px;
    transition: all 0.5s;
}

.hamburger1 div {
    height: 5px;
    background: #fff;
    width: 45px;
    margin: 5px 0px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(1) {
    width: 20px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(2) {
    width: 35px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(3) {
    width: 45px;
    transition: all 0.5s;
}

.hamburger1:hover div:nth-child(4) {
    width: 55px;
    transition: all 0.5s;
}

.exstral>p{
    width:100%;
    text-align: center;
	margin-top:15rem;
	font-size:80px !important;
	font-family: 'Cutive Mono', monospace !important;
	color:white !important;
    z-index:30;
    letter-spacing: 0.25em;
}

.htitle>p{
    margin-top:0;
    width:100%;
    text-align: center;
	font-size:80px !important;
	font-family: 'Tangerine', cursive,'Cutive Mono',monospace;
	color:white !important;
    z-index:30;
    letter-spacing: 0.25em;
}

.tracking-in-expand {
    margin:0 !important;
    width:40%;
	-webkit-animation: tracking-in-expand 2.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 2.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.hbg-img>section{
    height:6em;
    width:40%;
    margin-left:34em;
}

         /*Home View banner button*/

.hbtn{
    margin-top:12em;
    height:5em;
    width:100%;
    text-align: center;
}

.banner-btn{
    z-index:3;
    position: relative;
    background: transparent;
    border: 1px solid #fff;
    margin:0;
}

.banner-btn:hover{
    background: #474545;
    border:1px solid #474545;
    transition: background .5s cubic-bezier(0.39, 0.58, 0.57, 1),border .5s ease-in;
    transition-property: background, border;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1), ease-in;
    transition-delay: initial, initial;
}

.banner-btn span{
    width:180px;
    height:38px;
    font-size: 11px;
    letter-spacing: .22em;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 30px;
    background: transparent;
    color: #fff;
    font-family: Open Sans;
    line-height: 350%;
    text-align: center;
}

/*The scroll button*/
section {
    position: relative;
    width: 100%;
    height:inherit;
}

section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

.demo>div{
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo div:hover {
  opacity: .5;
}

#section04 div span {
  position: absolute;
  top: -2.5em;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


/*Start Page*/

.hiwbody{
    display:inline-block;
    width:100%;
    height:60vh;
    // background:url('https://www.nxworld.net/example/css-scroll-down-button/bg04.jpg');
    background:#f3f0e7;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hiwbody>p{
    padding-top:1em;
    text-align: center;
    font-family:Tahoma,'Josefin Sans', sans-serif;
    font-size: 3em;
    letter-spacing:2px;
    color:black;
}

.hiw-item{
    margin-top:0;
    margin-right:auto;
    margin-left:auto;
    width:70%;
    height:25em;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    
}

.card{
    margin:0;
    width:318px;
    height:20em;
    background:transparent !important;
    border:none !important;
}

.card-img-top{
    width:318px !important;
    height:119px !important;
}

.card-title,.card-subtitle{
    text-align: center;
}

.card-text{
    margin-top:1em;
    text-align: justify;
    word-wrap: break-word;
}

// Here's the Situation Section

.hts-body{
    width:100%;
    height:100vh;
}

.hts-p1{
    padding-top:1em;
    text-align: center;
    font-family:Tahoma,'Josefin Sans', sans-serif;
    font-size: 3em;
    letter-spacing:2px;
    color:black;
}

.hts-p2{
    margin:0 auto;
    font-family: Tahoma, 'Segoe', sans-serif;
    font-weight:800;
    font-style: normal;
    font-size:24px;
    line-height: 31px;
    color:#444444;
    text-align: center;
    width:60%;
}

.hts-p3{
    margin:0 auto;
    padding-top: 1em;
    font-family: Tahoma, 'Segoe', sans-serif;
    font-weight:300;
    font-style: normal;
    font-size:17px;
    line-height: 26px;
    color:#444444;
    text-align: left;
    width:60%;
}

.hts-div1{
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    padding-top:4em;
}

.hts-qt1{
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    height:20vh;
    padding:3.5% 0;
    p{
        font-family: Tahoma, 'Segoe', sans-serif;
        font-weight:800;
        font-style: normal;
        font-size:17px;
        line-height: 26px;
        color:#444444;
        text-align: left;
    }
}

.aos-imgtxt-wrapper{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.aos-imgtxt-wrapper>img{
    width:700px;
    height:450px;
}

.aos-imgtxt-txt{
    margin-left:8em;
}

.aos-imgtxt-title{
    font-family: Tahoma, 'Segoe', sans-serif;
    font-weight:800;
    font-style: normal;
    font-size:17px;
    line-height: 26px;
    color:#444444;
    text-align: justify;
}

.aos-imgtxt-p1{
    font-family: Tahoma, 'Segoe', sans-serif;
    font-weight:300;
    font-style: normal;
    // font-size:12px;
    // line-height: 26px;
    color:#444444;
    text-align: justify;
}

.hts-div2{
    display:inline-block;
    width:100%;
    height:15rem;
    background:url('https://www.nxworld.net/example/css-scroll-down-button/bg04.jpg');
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hts-div2>h1{
    padding-top:6%;
    z-index: 2;
    color: #fff;
    font-family :Tahoma, sans-serif;
    font-size:24px;
    font-weight:800;
    line-height: 31px;
    text-align: center;
    white-space: nowrap;
}

.hts-wrapperdiv3{
    width:100%;
    height:45em;
    // background:#FFDAB9;
}

.hts-div3{
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    padding-top:6em;
    img{
        width:100%;
        height:25em;
    }
    p{
        font-family: Tahoma, 'Segoe', sans-serif;
        font-weight:800;
        font-style: normal;
        font-size:17px;
        line-height: 26px;
        color:#444444;
        text-align: center;
    }
    .aostxt-p1{
        font-family: Tahoma, 'Segoe', sans-serif;
        font-weight:400;
        font-style: normal;
        font-size:17px;
        line-height: 26px;
        color:#444444;
        text-align: justify;
    }
}


.hts-div4{
    display:inline-block;
    width:100%;
    height:15rem;
    background:url('https://www.nxworld.net/example/css-scroll-down-button/bg02.jpg');
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hts-div4>h1{
    padding-top:6%;
    z-index: 2;
    color: #fff;
    font-family :Tahoma, sans-serif;
    font-size:24px;
    font-weight:800;
    line-height: 31px;
    text-align: center;
    white-space: nowrap;
}

.hts-wrapperdiv5{
    width:100%;
    height:40em;
}
